.fade-out-left.aos-animate {
    transform: translate(-150%, 100%);
}

.fade-out-right.aos-animate {
    transform: translate(150%, 100%);
}

.fade-out-top.aos-animate {
    transform: translate(0%, -600%);
}