*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    cursor: pointer;
}
@import url(//fonts.googleapis.com/css?family=Jockey+One);
html,
body {
    font-family: 'Jockey One, Cubic_11_1.013_R';
    overflow-x: hidden;
}
