.banner {
    margin-top: 77px;
    background-color: $light;
    overflow: hidden;

    @include padOnly() {
        margin-top: 96px;
    }

    &__main {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px 16px;
        padding: 23px 27px 22px 30px;
        border-radius: 32px 32px 0px 0px;
        background-color: $dark;

        @include padOnly() {
            margin: 0px 32px;
            padding: 40px 0px 78px 0px;
        }

        @include pc() {
            margin: 0px 80px;
            padding-top: 20px;
            padding-bottom: 129px;
        }

        > img {
            width: 54px;

            @include smallphone() {
                width: 14.602374vw;
                margin-top: -3.911343vw;
            }

            @include padOnly() {
                width: 113px;
                margin-top: -40px;
            }
        }

        > img:nth-of-type(1) {
            display: none;
            position: absolute;
            top: 50%;
            left: 0px;
            @include smallphone() {
                display: block;
            }
            @include padOnly() {
                top: 40%;
                left: 20%;
            }
        }
    }

    &__img--top {
        display: none;
        @include smallphone() {
            display: flex;
            width: 100%;
        }

        > div:nth-of-type(1) {
            position: relative;
            width: 42.242503%;
            margin-left: -80px;
            padding-bottom: 38.200782%;

            @include padOnly() {
                width: 324px;
                margin-left: 8.055556vw;
                padding-bottom: 0px;
            }

            > img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;

                @include padOnly() {
                    position: relative;
                    width: 324px;
                    height: 293px;
                }
            }

        }

        > div:nth-of-type(2) {
            position: relative;
            width: 40.547599%;
            margin-top: 48px;
            margin-left: auto;
            padding-bottom: 19.295958%;

            @include padOnly() {
                width: 311px;
                margin-top: 6.111111vw;
                margin-right: 12.5vw;
                padding-bottom: 0px;
            }

            > img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;

                @include padOnly() {
                    width: 311px;
                    height: 148px;
                }
            }
        }

    }

    &__img--textBlue {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        width: 100%;
        font-family: 'JockeyOne-Regular';
        font-weight: 400;
        font-size: 5.997392vw;
        line-height: 8.344198vw;
        color: $dark;
        transform: translate(-28%, -50%);

        @include smallphone() {
            display: block;
        }

        @include padOnly() {
            font-size: 46px;
            line-height: 64px;
            transform: translate(-40%, -50%);
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 280px;

        @include smallphone() {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            transform: translate(-28%, -64%);
        }

        @include padOnly() {
            width: 414px;
            height: 370px;
            transform: translate(-40%, -90%);
        }

        > h2:nth-of-type(1) {
            margin-right: auto;
            margin-bottom: 5px;
            @include smallphone() {
                display: none;
            }
        }

        > h2:nth-of-type(2) {
            margin-left: auto;
            margin-bottom: 16px;
            @include smallphone() {
                margin-left: 28.683181vw;
            }

            @include padOnly() {
                width: 800px;
                margin-left: 100px;
                margin-bottom: 0;
                margin-top: 300px;
            }

            @include pc() {
                margin-top: 220px;
                margin-left: -20px;
            }
        }

        > img {
            width: 100%;
            margin-bottom: 6px;
            @include smallphone() {
                display: none;
            }
        }
    }

    &__img--pad {
        display: none;
        @include smallphone() {
            position: relative;
            display: block;
            width: 53.976532%;
            padding-bottom: 48.239896%;
            margin-bottom: 20px;
        }

        @include padOnly() {
            width: 380.83px;
            height: 55.55px;
            padding-bottom: 0;
        }

        > img {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
        }
    }

    &__title {
        margin: 0px 4px;
        font-family: 'cubic 11';
        color: $primary;


        @include pc() {
            margin-left: 400px;
        }
    }

    &__img--text {
        position: absolute;

        > p {
            font-family: 'JockeyOne-Regular';
            font-weight: 400;
            font-size: 32px;
            line-height: 45px;
            text-align: right;
            color: $dark;
        }
        @include smallphone() {
            display: none;
        }
    }

    &__longtext--top {
        margin-bottom: 24px;

        > div {
            display: flex;
        }
        > p,
        > div > p {
            display: inline-block;
            padding: 8px 24px;
            font-family: 'JockeyOne-Regular';
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            background-color: $third;
            overflow: hidden;
        }

        > div > p {
            margin-left: -100px;
        }

        > p {
            margin-left: -146px;
        }

        @include smallphone() {
            display: none;
        }
    }

    &__img--textPad {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        width: 100%;
        text-align: right;
        transform: translate(-60%, -50%);

        @include smallphone() {
            display: block;

            > p {
                font-family: 'JockeyOne-Regular';
                font-weight: 400;
                font-size: 5.215124vw;
                line-height: 8.344198vw;
                color: $dark;
            }
        }

        @include padOnly() {
            top: 80%;
            left: -10%;
            transform: translate(0%, 0%);
            > p {
                font-size: 40px;
                line-height: 64px;
            }
        }
    }

    &__longtext--pad {
        display: none;

        @include smallphone() {
            margin-left: -80.83442vw;
        }

        > div {
            display: flex;
        }

        > p,
        > div > p {
            display: inline-block;
            padding: 8px 24px;
            font-family: 'JockeyOne-Regular';
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            background-color: $third;
            overflow: hidden;

            @include smallphone() {
                font-size: 3.129074vw;
                line-height: 4.374185vw;
            }

        }

        > div > p {
            margin-left: -100px;
            @include padOnly() {
                margin-left: -55px;
            }
        }

        > p {
            margin-left: -146px;
        }

        @include smallphone() {
            display: block;
        }
    }

    &__img--bottom {
        position: relative;
        display: none;
        width: 31.290743vw;
        margin-top: -14.341591vw;
        padding-bottom: 14.993481%;

        @include smallphone() {
            display: block;
        }

        @include padOnly() {
            width: 311px;
            margin-top: calc(-14.341591vw + 30.11px);
            padding-bottom: 0px;
        }

        > img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            @include padOnly() {
                width: 311px;
                height: 148px;
            }
        }
    }

    &__longtext--bottom {
        margin-bottom: 24px;

        @include smallphone() {
            margin-right: -74.315515vw;
        }

        > div {
            display: flex;
        }

        > p,
        > div > p {
            display: inline-block;
            padding: 8px 24px;
            font-family: 'JockeyOne-Regular';
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            background-color: $third;
            overflow: hidden;

            @include smallphone() {
                margin-bottom: 0;
                font-size: 3.129074vw;
                line-height: 4.374185vw;
            }
        }

        > div > p {
            margin-right: -100px;
            @include padOnly() {
                margin-right: -55px;
            }
        }

        > p {
            margin-right: -146px;
        }
    }

    &__box--right {
        width: 36px;
        height: 36px;
        margin-left: auto;
        background-color: $third;

        @include smallphone() {
            width: 4.6936vw;
            height: 4.6936vw;
        }
    }

    &__box--left {
        width: 36px;
        height: 36px;
        margin-right: auto;
        background-color: $third;

        @include smallphone() {
            width: 4.6936vw;
            height: 4.6936vw;
        }
    }

    &__box--light {
        display: none;
        width: 61.277705vw;
        height: 6.518905vw;
        margin-top: -15.645372vw;
        margin-right: -117.340287vw;
        background-color: $light;
        @include smallphone() {
            display: block;
        }
        @include padOnly() {
            margin-top: 0px;
        }
    }

    &__area--greenY {
        display: none;
        width: 22.8161617vw;
        height: 35.59322vw;
        margin-left: calc(-100% - 150px);
        background-color: $third;
        @include smallphone() {
            display: block;
        }
        @include padOnly() {
            width: 175px;
            height: 407px;
            margin-top: -240px;
            margin-right: auto;
            margin-left: 46px;
        }
    }

    &__area--greenX {
        display: none;
        width: 39.113529vw;
        height: 6.518905vw;
        margin-left: calc(-120%);
        background-color: $third;

        @include smallphone() {
            display: block;
        }

        @include padOnly() {
            width: 361px;
            height: 100px;
            margin-right: auto;
            margin-left: -7.888889vw;
        }
    }
}
