.description {
    padding: 91px 19.87px 144px 20px;
    background-color: $dark;

    @include smallphone() {
        padding: 150px 10.430248vw 164.96px 10.560626vw;
    }
    @include padOnly() {
        padding: 142px 120px 0px 108px;
    }

    &__img--pink {
        position: relative;
        max-width: 280px;
        margin-bottom: 16.16px;

        @include midphone() {
            display: none;
        }

        > img {
            width: 100%;
        }

        > p {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            font-family: 'Jockey One';
            font-weight: 400;
            font-size: 26px;
            line-height: 34px;
            color: $dark;
            transform: translate(-40%, -50%);
            > span {
                font-family: 'Cubic 11';
                > span {
                    color: $light;
                }

            }
        }
    }

    &__img--pinkPad {
        display: none;
        @include midphone() {
            position: relative;
            display: block;
            width: 79.009126vw;
            margin-bottom: 9.387223vw;
            padding-bottom: 20.599739vw;
        }

        @include pad() {
            width: 65.763889vw;
            margin-bottom: 3.680556vw;
            padding-bottom: 17.152778vw;
        }

        @include pc() {
            max-width: 947px;
            margin-bottom: 53px;
            padding-bottom: 0;
        }

        > img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            @include pc() {
                position: relative;
                width: 100%;
            }
        }

        > p {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            font-family: 'Jockey One';
            font-weight: 400;
            font-size: 4.172099vw;
            line-height: 4.82399vw;
            color: $dark;
            transform: translate(-43%, -50%);

            @include pad() {
                font-size: 3.611111vw;
                line-height: 4.236111vw;
            }

            @include pc() {
                font-size: 52px;
                line-height: 61px;
            }

            > span {
                font-family: 'Cubic 11';

                > span {
                    color: $light;
                }

            }
        }
    }

    &__img--blue {
        position: relative;
        max-width: 286.12px;
        margin-left: auto;
        margin-bottom: 35px;

        @include midphone() {
            max-width: none;
            width: 56.453716vw;
            margin-bottom: 4.172099vw;
            padding-bottom: 21.121252vw;
        }

        @include pad() {
            width: 45.833333vw;
            margin-bottom: 0px;
            padding-bottom: 17.152778vw;
        }

        @include pc() {
            max-width: 660px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        > img {
            width: 100%;
            @include midphone() {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
            @include pc() {
                position: relative;
            }
        }
        > div {
            position: absolute;
            top: 28px;
            left: 17px;
            color: $dark;

            @include midphone() {
                top: 6.495726vw;
            }
            @include pad() {
                top: 4.83871vw;
            }
            > span {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 4px;
                margin-bottom: 4px;
                background-color: $dark;
                @include midphone() {
                    width: 1.825293vw;
                    height: 1.825293vw;
                }
                @include pad() {
                    width: 1.25vw;
                    height: 1.25vw;
                }
                @include pc() {
                    width: 18px;
                    height: 18px;
                }
            }
            p {
                font-family: 'Noto Sans TC';
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;

                @include midphone() {
                    font-size: 2.607562vw;
                    line-height: 3.780965vw;
                }
                @include pad() {
                    font-size: 2.222222vw;
                    line-height: 3.194444vw;
                    text-align: right;
                }
                @include pc() {
                    font-size: 32px;
                    line-height: 46px;
                }
            }
            p > span {
                display: block;
            }
        }
    }

    &__img--iconsTwins {
        max-width: 210px;
        margin: 0px auto;
        
        @include midphone() {
            position: relative;
            max-width: none;
            width: 52.151239vw;
            margin-left: 0px;
            padding-bottom: 29.856584vw;
        }
        @include padOnly() {
            // margin-bottom: -66px;
            padding-bottom: calc(29.856584vw - 66px);
            overflow: hidden;
        }

        @include pad() {
            width: 42.916667vw;
            padding-bottom: calc(24.583333vw - 66px);
        }

        @include pc() {
            max-width: 618px;
            margin-top: -45px;
            padding-bottom: 0px;
        }

        > img {
            width: 100%;
            @include midphone() {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            @include pc() {
                position: relative;
                margin-bottom: -66px;
            }
        }
    }
}