.register {
    padding: 8px 16px 0px;
    background-color: $light;

    @include smallphone() {
        padding: 16px 32px 48px;
    }

    @include padOnly() {
        padding: 40px 56px 48px 52px;
    }

    > ul > li {
        margin-bottom: 8px;
        @include pad() {
            width: 98.096096%;
            margin-bottom: 0px;
        }
    }

    > ul > li:nth-of-type(1) {
        @include pad() {
            margin-left: auto;
        }
    }
    > ul > li:nth-of-type(2) {
        @include pad() {
            margin-left: auto;
            margin-right: auto;
            margin-top: -20px;
        }
    }

    > ul > li:nth-of-type(3) {
        @include pad() {
            margin-top: -20px;
        }
    }

    > ul > li > img {
        width: 100%;
    }

    > ul > li > img:nth-of-type(1) {
        @include smallphone() {
            display: none;
        }
    }

    > ul > li > img:nth-of-type(2) {
        display: none;
        @include smallphone() {
            display: block;
        }
        @include pad() {
            display: none;
        }
    }

    > ul > li > img:nth-of-type(3) {
        display: none;
        @include pad() {
            display: block;
        }
    }

    &__content {
        padding: 18px 16px 22px;
        background-color: $dark;

        @include midphone() {
            padding-bottom: 32px;
        }

        @include pad() {
            display: flex;
            padding: 32px 0px 66px;
        }

        div > p {
            font-family: 'Noto Sans TC';
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: rgba(255, 255, 255, .5);
            letter-spacing: 0.64px;
            @include midphone() {
                // font-size: 18px;
                font-size: 2.346808vw;
                // line-height: 26px;
                line-height: 3.389831vw;
            }

            @include pad() {
                font-size: 1.666667vw;
                line-height: 2.430556vw;
            }

            @include pc() {
                font-size: 24px;
                line-height: 35px;
            }
            > span {
                @include padOnly() {
                    display: block;
                }
            }
        }
    }

    &__title {
        max-width: 130px;
        margin: 0px auto 18px;
        padding: 12px 16px;
        background-color: $third;

        @include midphone() {
            max-width: 183px;
            margin: 0px auto 6.258149vw -16px;
            padding: 16px 24px;
        }

        @include pad() {
            height: 6.944444vw;
            margin: 0px 48px 0px 0px;
        }

        @include pc() {
            height: 100px;
        }

        > h6 {
            font-family: 'Cubic 11';
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: $dark;
            letter-spacing: 0.64px;
            @include midphone() {
                // font-size: 32px;
                font-size: 4.172099vw;
                // line-height: 37px;
                line-height: 4.82399vw;
            }
            @include pad() {
                font-size: 2.777778vw;
                line-height: 6.944444vw;
            }

            @include pc() {
                font-size: 40px;
                line-height: 100px;
            }
        }
    }

    &__text {
        margin-bottom: 12px;

        @include midphone() {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
        }

        @include pad() {
            margin-top: 16px;
            margin-bottom: 24px;
        }
        > div {
            padding: 12px 24px;
            border: 1px solid #fff;
            font-family: 'Noto Sans TC';
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #fff;
            letter-spacing: 0.64px;

            @include midphone() {
                display: flex;
                align-items: center;
                // font-size: 18px;
                font-size: 2.346806vw;
                // line-height: 26px;
                line-height: 3.389831vw;
            }

            @include pad() {
                font-size: 1.666667vw;
                line-height: 2.430556vw;
            }

            @include pc() {
                font-size: 24px;
                line-height: 35px;
            }
            
            > span {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 12px;
                border-radius: 999rem;
                background-color: $third;

                @include midphone() {
                    // width: 16px;
                    width: 2.08605vw;
                    // height: 16px;
                    height: 2.08605vw;
                }
            }
        }

        > div:nth-of-type(1) {
            margin-bottom: 12px;
            @include midphone() {
                margin-bottom: 0;
            }
        }
    }

    &__dash {
        display: none;
        margin: 0px 16px;
        font-family: 'Noto Sans TC';
        font-weight: 500;
        font-size: 32px;
        line-height: 46px;
        color: #fff;

        @include midphone() {
            display: inline-block;
        }
    }
}